# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      label: 'PHP-Debug',
      submenu: [
        {
          'label': 'Toggle Debugging'
          'command': 'php-debug:toggleDebugging'
        },
        {
          'label': 'Toggle Console'
          'command': 'php-debug:toggleConsole'
        },
        {
          'label': 'Toggle Breakpoint'
          'command': 'php-debug:toggleBreakpoint'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'PHP-Debug'
      'submenu': [
        {
          'label': 'Toggle Debugging'
          'command': 'php-debug:toggleDebugging'
        },
        {
          'label': 'Toggle Breakpoint'
          'command': 'php-debug:toggleBreakpoint'
        },
        { type: 'separator'},
        {
          'label': 'Run'
          'command': 'php-debug:run'
        },
        {
          'label': 'Step Over'
          'command': 'php-debug:stepOver'
        },
        {
          'label': 'Step In'
          'command': 'php-debug:stepIn'
        },
        {
          'label': 'Step Out'
          'command': 'php-debug:stepOut'
        },
        { type: 'separator'},
        {
          'label': 'Clear All Breakpoints'
          'command': 'php-debug:clearAllBreakpoints'
        },
        {
          'label': 'Clear All Watchpoints'
          'command': 'php-debug:clearAllWatchpoints'
        }
      ]
    ]
  }
]
