# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'alt-f5': 'php-debug:run'
  'alt-f6': 'php-debug:stepOver'
  'alt-f7': 'php-debug:stepIn'
  'alt-f8': 'php-debug:stepOut'

# Add more specific keymap overrides for php files
"atom-text-editor[data-grammar='text html php']":
  'ctrl-alt-d': 'atom-debug-ui:toggleDebugging'
  'ctrl-alt-f': 'atom-debug-ui:addWatch'
  'ctrl-alt-w': 'atom-debug-ui:addWatchpoint'
  'alt-f9': 'atom-debug-ui:toggleBreakpoint'
  'alt-f5': 'php-debug:run'
  'alt-f6': 'php-debug:stepOver'
  'alt-f7': 'php-debug:stepIn'
  'alt-f8': 'php-debug:stepOut'

'.php-debug':
  'ctrl-alt-d': 'atom-debug-ui:toggleDebugging'
  'ctrl-alt-f': 'atom-debug-ui:addWatch'
  'ctrl-alt-w': 'atom-debug-ui:addWatchpoint'
  'alt-f9': 'atom-debug-ui:toggleBreakpoint'
  'alt-f5': 'php-debug:run'
  'alt-f6': 'php-debug:stepOver'
  'alt-f7': 'php-debug:stepIn'
  'alt-f8': 'php-debug:stepOut'
